langchain
langchain-community
langchain-openai
langchain-experimental
langgraph
faiss-cpu
fastapi
uvicorn
pydantic
python-dotenv
pypdf
pdfplumber
tqdm
httpx
openai
watchfiles
websockets
pybase64
pygments
pypdfium2
distro
python-multipart
